<app-not-found
[visible]="!food.id"
notFoundMessage="Sem resultado para a pesquisa!"
resetLinkText="Voltar para a página inicial">
</app-not-found>

<div *ngIf="food.id" class="container">
 <!-- <ngb-carousel class="carrossel" *ngIf="food.imageUrl">
    <ng-template ngbSlide *ngFor="let image of food.imageUrl">
      <div class="picsum-img-wrapper">
        <img [src]="image" [alt]= "food.name" class="img" />
      </div>
      <div class="carousel-caption">
        <h3> {{food.name}}</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
  </ngb-carousel> -->
  <img [src]="food.imageUrl[0]" [alt]="food.name">

  <div class="details">
    <div class="header">
      <span class="name">
        {{food.name}}
      </span>
      <span class="favorite {{food.favorite? '': 'not'}}">❤</span>
    </div>

    <div class="rating">
      <ngb-rating [max]="5"
      [(rate)]="food.stars"
      [readonly]="true">
    </ngb-rating>
    </div>

    <div class="origins">
      <span *ngFor="let origin of food.origins">
        {{origin}}
      </span>
    </div>

    <div class="tags">
      <a *ngFor="let tag of food.tags" routerLink="/tag/{{tag}}">
        {{tag}}
      </a>
    </div>

    <div class="cook-time">
      <span>🕒</span>
      {{food.cookTime}} minutos
    </div>

    <div class="price">
      <span>
        {{food.price | currency}}
      </span>
    </div>

    <button (click)="addToCard()"> Adicionar no carrinho</button>

  </div>
</div>
