<header>
  <div class="container">
    <a routerLink="/" class="logo"> IqFome! </a>
    <nav>
      <ul>
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li class="menu-container">
          <a routerLink="/dashboard"> Eduardo </a>
          <div class="menu">
            <a routerLink="/profile">Perfil</a>
            <a routerLink="/orders">Pedidos</a>
            <a>Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">Carrinho <span>3</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
