.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* padding: 2rem; */
  padding-top: 25px;
  background: #dd4545;
  color: white;
  font-weight: 350;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  font-size: 1.3rem;

}
